<!-- <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="footer">
        <p>Footer</p>
    </div>
</body>
</html> -->

<footer class="footer">
    <div class="row justify-content-md-center sharing-area text-center">
        <div class="text-center col-md-12 col-lg-8">
            <a class="btn btn-neutral text-light btn-icon btn-twitter btn-round btn-lg" target="_blank" href="#">
                <i class="fab fa-twitter" data-toogle="tooltip" data-placement="top" title="Follow us"></i>
            </a>
            <a class="btn btn-neutral text-light btn-icon btn-facebook btn-round btn-lg" target="_blank" href="#">
                <i class="fab fa-facebook-square" data-toogle="tooltip" data-placement="top" title="Like us"></i>
            </a>
            <a class="btn btn-neutral text-light btn-icon btn-linkedin btn-lg btn-round" target="_blank" href="#">
                <i class="fab fa-linkedin" data-toogle="tooltip" data-placement="top" title="Follow us"></i>
            </a>
            <a class="btn btn-neutral text-light btn-icon btn-github btn-round btn-lg" target="_blank" href="#">
                <i class="fab fa-github" data-toogle="tooltip" data-placement="top" title="Star on Github"></i>
            </a>
        </div>
    </div>
    <!--Scroll to top-->
    <button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top btn btn-outline-info" style="display: block; position: fixed; bottom: 50px; right: 20px;">
        <i class="fas fa-arrow-up"></i>
    </button>
</footer>