<div>
    <div class="btn">
        <button (click)="cadastrarTeste()">CADASTRAR TESTE</button>
    </div>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let item of dataSource">
            <td>{{item.codigo}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.status}}</td>
            <td>
                <a title="Editar Teste"(click)="editTest(item)"><i class="material-icons icon" aria-hidden="true" role="img">mode_edit</i></a>
                <a title="Excluir Teste"(click)="deleteTest(item)"><i class="material-icons icon" aria-hidden="true" role="img">clear</i></a>
            </td>
        </tr>
    </table>
</div>