<div>
    <div class="btn">
        <button (click)="cadastrarTeste()">CADASTRAR TESTE</button>
    </div>
    <table>
        <tr>
            <th>Código</th>
            <th>Teste</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        <tr>
            <!-- <td>{{item.codigo}}</td>
            <td>{{item.nome_disciplina}}</td>
            <td>{{item.periodo}}</td>
            <td>{{item.turno}}</td> -->
            <!-- <td>
                <a title="Editar Teste"><i class="material-icons icon" aria-hidden="true" role="img">mode_edit</i></a>
                <a title="Excluir Teste"><i class="material-icons icon" aria-hidden="true" role="img">clear</i></a>
            </td> -->
        </tr>
    </table>
</div>