@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    outline: none;
}

.header {
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.30);
    padding: 2% 2%;
    margin: 0;
}

.header a {
    float: left;
    color: #183B69;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.header div {
    cursor: pointer;
}

.header a.logo {
    font-family: 'Days One', sans-serif;
    font-size: 30px;
}

.header a:hover {
    cursor: pointer;
    font-weight: bolder;
}

.header a.active {
    background-color: rgba(0, 139, 139, 0.8);
    color: white;

}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.router {
    padding: 0 15px;
}

.router-exit {
    cursor: pointer;
}