::ng-deep {

.snack-error{
    background: red !important;
    font-weight: 500;
    color: white;
}

.snack-sucessful {
    background: green !important;
    font-weight: 500;
    color: white;
}

.snack-warn {
    background: #FF8C00 !important;
    font-weight: 500;
    color: white;
}
}