table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
    box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
  }
  
  th {
    background-color: #183B69;
    color: white;
  }
  td, th {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.30);
  }
  button {
    width: 100%;
    height: 60px;
    outline: none;
    box-shadow: none;
    font-size: 20px;
    background-color: #183B69;
    border: 1px solid #183B69;
    color: white;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #45BABB;
    border-color: #45BABB;
    color: #183B69;
    cursor: pointer;
  }
  
  .btn-table {
    margin: 2% 5%;
  }
  
  .icon {
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
  }
  input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

  }
  .input-field{
    margin-left: 5%;
    align-content: center;
    justify-content: center;
  }
  #myInput {
    font-family: monospace, monospace;
    transition: width 0.4s ease-in-out;
    background-position: 10px 12px; 
    padding: 12px 20px 12px 0px; 
    font-size: 20px; 
    border: none;
    border-bottom: 2px solid #45BABB;
    width: 30%; 
  }
  #myInput:focus {
    border-color: #183B69;
    outline: 0;
    width: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #myInput1 {
    font-family: monospace, monospace;
    transition: width 0.4s ease-in-out;
    background-position: 10px 12px; 
    padding: 12px 20px 12px 0px; 
    font-size: 20px; 
    border: none;
    border-bottom: 2px solid #45BABB;
    width: 30%; 
  }
  #myInput1:focus {
    border-color: #183B69;
    outline: 0;
    width: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

