table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
    box-shadow: 0px 0px 10px 0px rgba(79,79,79,1);
  }
  
  th {
    background-color: #183B69;
    color: white;
  }
  td, th {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.30);
  }
  button {
    width: 100%;
    height: 60px;
    outline: none;
    box-shadow: none;
    font-size: 20px;
    background-color: #183B69;
    border: 1px solid #183B69;
    color: white;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #45BABB;
    border-color: #45BABB;
    color: #183B69;
    cursor: pointer;
  }
  
  .btn-table {
    margin: 2% 5%;
  }
  
  .icon {
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
  }
  input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

  }
  #myInput {
    background-position: 10px 12px; /* Position the search icon */
    width: 25%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-left: 5%; /* Add some space below the input */
  }