<div>
    <div class="btn-table">
        <button (click)="registerStudent()">CADASTRAR ALUNO</button>
    </div>
    <div class="input-field">
        <input type="number" id="myInput" (keyup)="myFunction()" placeholder="Pesquisar por Matrícula">
    </div>
    <table id="myTable">
        <tr>
            <th>Matrícula</th>
            <th>Aluno</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Disciplinas</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let item of dataSource">
            <td>{{item.matricula}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.telefone}}</td>
            <td>{{item.email}}</td>
            <td > <div *ngFor="let disciplinas of item.disciplinas">
                    {{disciplinas.nome_disciplina}}
            </div>
            </td>
            
            <!-- PARA LISTAR DISCPLINAS FAZER UM *NGFOR NA LISTA PRESENTE EM ITEM.DISCIPLINAS E MOSTRAR A DISCIPLINA 
            EXEMPLO: *ngFor="let disciplina of item.disciplinas" MOSTRAR -> disciplina.nome_disciplina  -->
            <td>
                <a title="Editar Aluno" (click)="editStudent(item)"><i class="material-icons icon" aria-hidden="true"
                        role="img">mode_edit</i></a>
                <a title="Excluir Aluno" (click)="deleteStudent(item)"><i class="material-icons icon" aria-hidden="true"
                        role="img">clear</i></a>
            </td>
        </tr>
    </table>
</div>