@import "../../../../style.scss";

.space {
    margin-right: 3%;
}

.code {
    width: 25% !important;
}

.status {
    width: 21% !important;
}

.nome {
    width: 48% !important;
}

form#form {
    margin-top: -15%;
}