<div>
    <div class="btn-table">
        <button (click)="registerEmprestimo()">CADASTRAR EMPRESTIMO</button>
    </div>
    <div class="input-field">
        <svg _ngcontent-jph-c120="" xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 0 30 24" width="24">
            <path _ngcontent-jph-c120="" d="M0 0h24v24H0V0z" fill="none"></path>
            <path _ngcontent-jph-c120=""
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
            </path>
        </svg>
        <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Pesquisar pelo nome do teste">
    </div>
    <div class="input-field">
        <svg _ngcontent-jph-c120="" xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 0 30 24" width="24">
            <path _ngcontent-jph-c120="" d="M0 0h24v24H0V0z" fill="none"></path>
            <path _ngcontent-jph-c120=""
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
            </path>
        </svg>
        <input type="text" id="myInput1" (keyup)="myFunction1()" placeholder="Pesquisar pelo nome do Aluno">
    </div>
    <table id="myTable">
        <tr>
            <th>Teste</th>
            <th>Aluno</th>
            <th>Status</th>
            <th>Data Empréstimo</th>
            <th>Retorno Previsto</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let item of dataSource">
            <td>{{item.testes[0].nome}}</td>
            <td>{{item.alunos[0].nome}}</td>
            <td>{{item.status}}</td>
            <td>{{item.data}}</td>
            <td>{{item.retorno_previsto}}</td>
            <td>
                <a title="Devolver Emprestimo" (click)="devolverEmprestimo(item)"><i class="material-icons icon"
                        aria-hidden="true" role="img">autorenew</i></a>
                <a title="Editar Emprestimo" (click)="deletarEmprestimo(item)"><i class="material-icons icon"
                        aria-hidden="true" role="img">clear</i></a>
            </td>
        </tr>
    </table>
</div>